/* Contenedor principal: Centra todo en la pantalla */
.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la pantalla */
}

/* Grid de 3 columnas bien centrado */
.reyes-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columnas con ancho ajustado al contenido */
  gap: 30px; /* Espacio entre elementos */
  justify-content: center; /* Centra el grid dentro del contenedor */
}

/* Estilos de cada tarjeta */
.reyes {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;

  background-color: #f9f9f9;
  color: black;
}

img {
  width: 50%;
  max-width: 50%;
  border-radius: 8px;
}
nav {
  display: flex;
  justify-content: center; /* Centra los elementos */
  align-items: center;
  gap: 10px; /* Espacio entre enlaces */
  background-color: #9e9e9e; /* Fondo oscuro */
  margin-bottom:20px ;

 /* Bordes redondeados */
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white; /* Texto blanco */
  font-size: 18px;
  padding: 10px 15px;

  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ffffff; /* Efecto hover */
  color: black;
}

nav div {
  display: flex;
}
